/* Reset */


@font-face {
  font-family: 'CustomFont';
  src: url('./assets/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'CustomFont', sans-serif;
  scroll-behavior: smooth;

}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  transition: 0.3s;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
img,
ul,
ol,
li,
form,
label,
fieldset,
blockquote,
button,
.link {
  font-family: 'CustomFont', sans-serif !important;
  padding: 0;
  box-sizing: border-box;
}


/* Body */